<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.umesh.patidar.interestcalculator">

    <application
        android:allowBackup="true"
        android:icon="@drawable/emi_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/emi_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MyDetail"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2388449991477825~4176345394"/>
    </application>

</manifest>